.nbeauty-overlay {
    position: fixed;
    height: 0%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.95); /* dark background */
    overflow-y: auto;
    transition: height 0.5s ease;
    z-index: 9999;
}

.nbeauty-overlay.open {
    height: 100%;
}

.nbeauty-overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    text-decoration: none;
    color: white;
    z-index: 10001;
}

.nbeauty-overlay .overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nbeauty-overlay .overlay-content a {
    padding: 10px;
    font-size: 36px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.nbeauty-overlay .overlay-content a:hover {
    color: #f1f1f1;
}

.hamburger-btn {
    font-size: 28px;
    color: #333;
    cursor: pointer;
}

